<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <script src="/index.js"></script>
  </head>

  <body>
    <div class="container">
      <header class="flex">
        <!-- <div class="logo"><span>.</span></div> -->
        <nav>
          <ul class="flex">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./project.html">Projects</a></li>
            <li><a href="./contact.html">Contact Me</a></li>
          </ul>
        </nav>
      </header>

      <section class="contact" id="contact">
        <h1>Get in <span>Touch!</span></h1>
        <div class="box flex">
          <div>
            <i class="fa-solid fa-user"></i>
            <input type="text" id="name" placeholder="Enter your Full Name" />
          </div>
          <div>
            <i class="fa-solid fa-envelope"></i>
            <input type="email" id="email" placeholder="Enter Email Address" />
          </div>
          <textarea
            name=""
            id="message"
            cols="50"
            rows="2"
            placeholder="Enter your Message here"
          ></textarea>
          <div>
            <input
              type="submit"
              class="send"
              value="Send"
              onclick="sendMail()"
            />
            <!-- <input type="submit" class="send" value="Send" onclick="sendMail()">  -->
          </div>
        </div>
      </section>

      <!-- <footer class="flex" id="footer">
        <div class="copy">© 2024 Made by AMOGH LAVANIA</div>
        <div class="social">
          <a href="https://www.instagram.com/amogh.lavania/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
      </footer> -->
    </div>
  </body>
</html>
